# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
.env

# Pytest
.pytest_cache/

# Data (generated)
data/processed/
artifacts/

# Raw data (downloaded) - keep folder, ignore CSVs
data/raw/*.csv

# Notebooks
.ipynb_checkpoints/

# IDE / OS
.DS_Store
.vscode/
.idea/
